<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="s_print.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <s_print.My.MySettings>
            <setting name="padding_root" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="direction" serializeAs="String">
                <value>rtl</value>
            </setting>
            <setting name="padding_top_h1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="padding_bottom_h1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="text_align_h1" serializeAs="String">
                <value>center</value>
            </setting>
            <setting name="font_size_h1" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="font_weight_h1" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="font_family_h1" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="padding_top_h4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="padding_bottom_h4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="font_size_h4" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="font_weight_h4" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="font_family_h4" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="padding_top_h5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="padding_bottom_h5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="font_size_h5" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="font_weight_h5" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="font_family_h5" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="margin_div_one_top" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="margin_div_one_bottom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="padding_div_tow_top" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="padding_div_tow_bottom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="margin_div_thre_top" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="margin_div_thre_bottom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="padding_div_four_top" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="padding_div_four_bottom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="img_top_height" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="img_log_height" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="img_log_width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="img_footer_height" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="padding_p_one_top" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="padding_p_one_bottom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="font_size_p_one" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="font_family_p_one" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="padding_p_tow_top" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="padding_p_tow_bottom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="font_size_p_tow" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="font_family_p_tow" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="font_size_table" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="font_family_table" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="margin_top_table_one" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="border_table_one" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="height_table_one" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="border_table_tow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="th_tow_color" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="th_tow_border" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="td_tow_border" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tr_tow_border" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tr_tow_color" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="all_row" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hedar" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="line1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="line2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="line3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="text_p_one_align" serializeAs="String">
                <value />
            </setting>
            <setting name="font_weight_p_one" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="font_weight_p_tow" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="webbrowser" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="printer" serializeAs="String">
                <value />
            </setting>
            <setting name="border_div_four" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="page_width" serializeAs="String">
                <value>100</value>
            </setting>
        </s_print.My.MySettings>
    </userSettings>
</configuration>
